<!DOCTYPE html>
<html>
  <head>
    <title>Mypost ruby</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="main-nav">
    <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
       <li><%= link_to "Blog", resources_path %></li>
       <li><%= link_to "Category",categories_path  %></li>
  </ul>
  <% flash.each do |key,value| %>
  <p><%= value %></p>
  <%end%>

    <%= yield %>
  </body>
</html>
